name: Ubuntu C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libopencv-dev cmake g++

    - name: Clone and build Multitarget-tracker
      run: |
        git clone https://github.com/Smorodov/Multitarget-tracker.git
        cd Multitarget-tracker
        
        mkdir build && cd build
        
        cmake -B . -S .. -DCMAKE_INSTALL_PREFIX=/usr/local -DCMAKE_BUILD_TYPE=Release
        
        make -j$(nproc)
        sudo make install

    - name: Configure CMake
      run: |
        mkdir -p build
        cd build
        cmake ..

    - name: Build
      working-directory: build
      run: make
